<h1>{_"Navigation settings"}</h1>

<ul class="menu">
	<li><a href="{link default}"{if $presenter->isLinkCurrent("Default:default")} class="active"{/if}>list</a></li>
	<li><a href="{link create}"{if $presenter->isLinkCurrent("Default:create")} class="active"{/if}>new item</a></li>
</ul>
